<layout>
 <configItem>
  <name>hatchak</name>
   <shortDescription>hkk</shortDescription>
   <description>hatchak</description>
   <languageList><iso639Id>en</iso639Id></languageList>
 </configItem>
</layout>
